# iris資料集介紹

In [3]:
from keras.utils import np_utils
import numpy as np
np.random.seed(10)

In [4]:
from sklearn import datasets
iris = datasets.load_iris() #載入iris資料集

In [5]:
iris.keys() #列出有哪些欄位

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [6]:
print(iris['DESCR']) #查看官方的說明

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

    :Number of Instances: 150 (50 in each of three classes)
    :Number of Attributes: 4 numeric, predictive attributes and the class
    :Attribute Information:
        - sepal length in cm
        - sepal width in cm
        - petal length in cm
        - petal width in cm
        - class:
                - Iris-Setosa
                - Iris-Versicolour
                - Iris-Virginica

    :Summary Statistics:

    ============== ==== ==== ======= ===== ====================
                    Min  Max   Mean    SD   Class Correlation
    ============== ==== ==== ======= ===== ====================
    sepal length:   4.3  7.9   5.84   0.83    0.7826
    sepal width:    2.0  4.4   3.05   0.43   -0.4194
    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
    ============== ==== ==== ======= ===== ====================

    :Missing Attribute Values: None
    :Class Distribution: 33.3% for each of 3 classes.
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. topic:: References

   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
     Mathematical Statistics" (John Wiley, NY, 1950).
   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
     Structure and Classification Rule for Recognition in Partially Exposed
     Environments".  IEEE Transactions on Pattern Analysis and Machine
     Intelligence, Vol. PAMI-2, No. 1, 67-71.
   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
     on Information Theory, May 1972, 431-433.
   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
     conceptual clustering system finds 3 classes in the data.
   - Many, many more ...

In [7]:
print(iris['feature_names']) #花有哪些特徵資料，下表可以得知有四種

['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']

In [8]:
import pandas as pd
x = pd.DataFrame(iris['data'] ,columns=iris['feature_names']) #將所有花的特徵資料（長度等等）列表出來
x

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [9]:
y = pd.DataFrame(iris['target'], columns=['target_names']) #花的種類（Lable）
y

     target_names
0               0
1               0
2               0
3               0
4               0
..            ...
145             2
146             2
147             2
148             2
149             2

[150 rows x 1 columns]

In [10]:
data = pd.concat([x,y], axis=1) #所有花的資料（含種類、特徵等等）
data

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target_names
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

# 資料預處理

In [11]:
X = iris.data #所有未經處理的特徵資料
Y = iris.target #所有未經處理Lable

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder #X與Y要一起隨機切成訓練與測試兩部分，使用sklearn.model_selection  模組當中的train_test_split。
enc = OneHotEncoder()

In [13]:
X_train,X_test, y_train, y_test = train_test_split(X,Y,test_size=0.2, random_state=0) #切割其中的20%作為測試資料

In [14]:
y_Train_OneHot = np_utils.to_categorical(y_train)
y_Test_OneHot = np_utils.to_categorical(y_test) #one-hot code轉換

# 建立模型

In [15]:
from keras.models import Sequential
from keras.layers import Dense

In [16]:
model = Sequential()

WARNING:tensorflow:From /opt/anaconda3/envs/tf1/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:74: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [17]:
#將「輸入層」與「隱藏層」加入模型

In [18]:
model.add(Dense(units=1000, 
                input_dim=4, 
                kernel_initializer='normal', 
                activation='relu'))

WARNING:tensorflow:From /opt/anaconda3/envs/tf1/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /opt/anaconda3/envs/tf1/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:4115: The name tf.random_normal is deprecated. Please use tf.random.normal instead.

In [19]:
#將「輸出層」加入模型

In [20]:
model.add(Dense(units=3, 
                kernel_initializer='normal', 
                activation='softmax'))

In [21]:
print(model.summary())

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 1000)              5000
_________________________________________________________________
dense_2 (Dense)              (None, 3)                 3003
=================================================================
Total params: 8,003
Trainable params: 8,003
Non-trainable params: 0
_________________________________________________________________
None

In [22]:
#Param 參數 #代表個數
#第一層權重個數 大W 1000*4+1000(偏移值B)= 5000
#第二層權重個數 W(2) 1000*3+3=3003

# 訓練模型

In [ ]:
model.compile(loss='categorical_crossentropy', 
              optimizer='adam', metrics=['accuracy'])

In [ ]:
train_history=model.fit(x=X_train, #fit = match適配
                        y=y_Train_OneHot,validation_split=0.2, #validation 驗證資料：60000切成0.2份=12000（一邊訓練一邊驗證成果）
                        epochs=10, batch_size=10,verbose=2) #epochs=10 訓練週期 batch_size=10 小批次學習10筆（從剩下的120筆資料隨機抓10筆，一共抓10次）
                        #得阻止訓練過度